.nes-btn {
  border: 0;
}

.nes-container {
  background-color: bisque;
}

#imgFritz {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  outline: none;
  border: none;
  height: 20rem;
  width: auto;
}

#imgFritz:hover {
  height: 22rem;
}

#imgFritz:active {
  height: 18rem;
}

.btnF {
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
  width: 90%;
  height: 30px;
  box-shadow: inset -2px 1px 1px 1px lightgrey, inset -2px -1px 1px 1px grey,
    inset 2px 0px 1px 1px grey;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.btnF:hover {
  cursor: pointer;
  background-color: #06b6d1;
}

.btnF:active {
  color: white;
  top: 5px;
  box-shadow: -2px 1px 1px 1px grey, -2px -1px 1px 1px lightgrey,
    2px 0px 1px 1px lightgrey;
}

.btnF::after {
  content: "";
  position: absolute;
  left: -2.5%;
  top: 10%;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.btnF::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

#ftzNormal{
    background-color: rgb(109, 254, 254);
}

#ftzUltra{
    background-color: rgb(255, 204, 0);
}

#ftzOm{
    background-color: rgb(251, 91, 91);
}

#addFritz{
    height: 50px;
    background-color: rgb(82, 255, 82);
}

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #ffc107, 5%, #ffc107, 50%, #fdfdfd);
  position: absolute;
  z-index: -1;
}
.wrapper h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 40px;
  font-weight: 888;
  text-transform: uppercase;
}
.wrapper div {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}

body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to bottom, #aeaeae, #f1c75d);
  background: linear-gradient(to bottom, #acacac, #eea546);
  min-height: 100vh;
}

div.bg-white {
  height: 450px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.bg-white img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}
